@import '../../variables.scss';

.messenger {
  display: flex;
  padding-bottom: 10px;
}

.messenger__messages {
  flex-grow: 1;
}

@media (min-width: $desktop-width) {
  .messenger {
    padding-top: 20px;
    padding-left: 20px;
  }
}