@import '../../variables.scss';

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  width: 100%;
  height: 100vh;

  .logo {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.auth title {
  color: #fff;
  text-shadow: 0 0 5px $text-purple-dark, 0 0 10px $text-purple-dark, 0 0 20px $background-dark, 0 0 30px $background-dark, 0 0 40px $background-dark, 0 0 55px $background-dark, 0 0 75px $background-dark;
}

.auth__prefix-icon {
  opacity: 0.5;
}

@media (min-width: $tablet-width) {

  .auth__container {
    width: 375px;
  }
}
