$background-dark: #000000;
//$user-list: #100D11;
$user-list: #05040D;
$type-area: #353138; 
//$user-item: #16111B;
$user-item: #0B0B0F;
$top-menu-icon: #ACACAC; 
$text-purple-dark: #6F6B8A;
$text-gold: #ACACAC;
$background-light: #E9E9E9;
$light-purple: #BDB8DB;
$light-color: #A9A0B6;
$background-purple: #A9A0B6;
$guest-message: #1B191C;
$my-message: #16111B;
//$type-area: #CBC9CD;
//$user-active: #663951;
//$user-hover: #241624;
$user-hover: #16111B;
$drop-menu-desktop: #181123;
$nav-button: #1E1D22;
$nav-button-active: #241F3A;
$nav-icon: #8A8A8A;
$white-shadow: 0px 4px 28px rgba(158, 123, 123, 0.25);

$tablet-width: 768px;
$desktop-width: 1440px;

$popup-index: 10000;
$nav-index: 1000;


$primary: #000000;
$blue-01: #717983;
$blue-02: #50505E;
$blue-03: #2C2C36;
$blue-04: #121212;
$light-blue: #F0F3F6;
$secondary: #1a1820;
$contrast: #DB5E71;
$contrast-yellow: #E8B458;


$gradient-01: linear-gradient(269.8deg, #FE49CF -0.46%, #FE58A2 28.61%, #FF6B65 67.45%);
$gradient-02: linear-gradient(90deg, #355EE1 0%, #8D6DF0 100%);
$gradient-03: linear-gradient(90deg, #3EDDAA 0%, #3BBCE8 100%);
$gradient-04: linear-gradient(90deg, #F7CF4B 0%, #FF856A 91.53%);
$gradient-05: linear-gradient(90deg, #FDAB6D 0%, #DE676C 91.53%);
$gradient-06: linear-gradient(90deg, #45C0E4 0%, #BF90FC 91.53%);

$shadow: 0px 6px 15px rgba(255, 92, 151, 0.55);

