@import '../../variables.scss';

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: $popup-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  overflow: hidden;

  .ant-spin {
    color: #ffffff;
   }
}

.messages__header {
  display: flex;
  align-items: center;
  background-color: $secondary;
  height: 40px;
  padding: 0 10px;
}

.messages__back-btn {
  margin-right: 10px;
}

.messages__avatar {
  margin-right: 5px;
}

.messages__chatname {
  margin: 0;
}

.messages__list {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 0 auto;
  list-style: none;
  height: calc(100vh - 107px);
  max-height: calc(100vh - 107px);
  overflow: auto;
}

.messages__inner {
  position: relative;
  flex-basis: auto;
  max-width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  word-break: break-all;
  padding: 25px;
  border-radius: 30px 20px 30px 20px;
  margin-left: 40px;
}

.messages__item {
  display: flex;
  margin-bottom: 8px;

  .messages__datetime {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
  }

  &--mine {
    justify-content: flex-end;
    
    .messages__inner {
      border-top-right-radius: 0;
      background-color: $contrast;   
    }

    .messages__datetime {
      left: -27px;
    }
  }

  &--not-mine {
    align-items: flex-start;
    flex-direction: column;

    .messages__inner {
      border-top-left-radius: 0;
      background-color: $guest-message; 
    }

    .messages__datetime {
      right: -27px;
    }
  }
}

.messages__status {
  opacity: 0.3;
  position: absolute;
  top: 4px;
  right: 8px;
}



@media (min-width: $tablet-width) { 

  .messages__inner {
    max-width: 600px;
    padding: 28px;
    font-size: 16px;
  }

  .messages__header {
    height: 55px;
    padding: 0 36px;
  }

  .messages__list {
    padding-right: 15px;
  }

  .messages__status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


@media (min-width: $desktop-width) { 
  .messages {
    position: static;
    width: auto;
    background-color: transparent;
    height: auto;
  }

  .messages__header {
    height: 35px;
    background-color: transparent;
  }

  .messages__inner {
    max-width: 606px;
    padding: 30px;
    font-size: 18px;
    line-height: 29px;
  }

  .messages__list {
    padding: 0 100px;
  }
  
  .messages__status {
    top: 4px;
    right: 8px;
  }
}