@import '../../../variables.scss';

.drop-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  height: calc(100vh - 45px - 10px);
  width: 100%;
  color: white;
  top: 45px;
  padding: 13px 16px;
  border-top: none;
  background-color: $primary;
  transform: translateX(-100%);
  animation: showMobileMenu 0.3s ease-in-out forwards;


  .profile-link {
    margin-bottom: 23px;
  }

  &--open {
    transform: translateX(0);
  }
}

.drop-menu__list {
  list-style: none;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    transition: color 0.2s ease-in-out ;
    &:hover {
      color: $contrast;
    }
  }
}

.drop-menu__list-icon {
  margin-right: 10px;
  font-size: 18px;
}

.drop-menu__logout {
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      color: $contrast;
    }
  }
}

@keyframes showMobileMenu {
  from {
    transform: translateX(-100%);   
  }
  to {
    transform: translateX(0);   
  }
}



@media (min-width: $tablet-width) { 

  .drop-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    font-size: 16px;
    width: 41.11%;

    .profile-link {
      margin-bottom: 40px;
    }
  }

  .drop-menu__list, form {
    margin-left: -23px;
  }

  .drop-menu__list {
    li {
      margin-bottom: 26px;
    }
  }

  .drop-menu__list-icon {
    margin-right: 14px;
    font-size: 24px;
  } 

}


@media (min-width: $desktop-width) {
  .drop-menu {
     width: 193px;
     height: 153px;
     left: 4%;
     border-radius: 10px;
     margin-top: 10px;
     transform: translateX(0);   
     animation: none;
     background-color: $secondary;
     font-size: 16px;
     padding: 22px 30px;
     background: linear-gradient(175.32deg, #355EE1 9.06%, #8D6DF0 77.53%);

  }
}