@import '../../variables.scss';


.chats {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow: auto;
}


.chats__list {
  width: 97%;
  margin: 0 auto;
}

.chats__item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparentize($secondary, 0.3);
  width: 100%;
  height: 55px;
  border-radius: 5px;
  padding: 6px 15px;
  margin-bottom: 4px;
  white-space: nowrap;

  .chats__name {
    margin-bottom: 0;
  }

  &:hover {
    opacity: transparentize($contrast, 0.5);
  }
}

.chats__avatar.ant-avatar {
  margin-right: 23px;
  background-color: $secondary;
}

.chats__item-info {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.chats__content {
  width: 250px;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.chats__datetime {
  position: absolute;
  font-size: 11px;
  top: 5px;
  right: 5px;
}


@media (min-width: $tablet-width) {

  .chats {
    //height: calc(100vh - 50px);
  }

  .chats__item {
    height: 77px;
    padding: 6px 30px;
  }

  .chats__avatar.ant-avatar {
    margin-right: 21px;
  }

  .chats__content {
    width: 400px;
    overflow: hidden; 
    text-overflow: ellipsis;
  }


  .chats__datetime {
    top: 12px;
    right: 15px;
  }
}


@media (min-width: $desktop-width) {

  .chats {
    width: 360px;
    padding: 14px 5px;
    height: auto;
    overflow: auto;
    background-color: rgba(161, 158, 176, 0.1);
    border-radius: 20px;
  }

  .chats__item {
    height: 57px;
    padding: 5px 15px;

    &--active {
      background-color: #E8B458;
      color: black;

      .chats__name {
        color: black;
      }
    }
  }

  .chats__avatar.ant-avatar{
    margin-right: 14px;
  }

   .chats__content {
    width: 225px;
  }

  .chats__title {
    padding-left: 40px;
  }

  .chats__datetime {
    font-size: 11px;
    top: 5px;
    right: 7px;
  }
}