@import '../../variables.scss';
$avatarBgColors: $gradient-01, $gradient-02, $gradient-03, $gradient-04, $gradient-05, $gradient-06;


.chats {
  width: 100%;
  height: 100%;
  padding-top: 16px;
  overflow: auto;
  background-color: $blue-04;
  background-image: url('../../assets/images/potato-pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.chats__list {
  width: 91%;
  margin: 0 auto;
}

.chats__item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  background-color: $blue-03;
  width: 100%;
  height: 56px;
  border-radius: 5px;
  padding: 6px 15px;
  margin-bottom: 4px;
  white-space: nowrap;

  .chats__name {
    margin-bottom: 0;
  }

  &:hover {
    opacity: transparentize($contrast, 0.5);
  }
}

.chats__avatar.ant-avatar {
  display: flex;
  margin-right: 23px;
  //background-color: $secondary;
  //background: nth($avatarBgColors,1);
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

.chats__item-info {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.chats__content {
  width: 250px;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.chats__datetime {
  position: absolute;
  font-size: 11px;
  top: 9px;
  right: 13px;
}


@media (min-width: $tablet-width) {

  .chats {
    padding-top: 17px;
  }

  .chats__list {
    width: 97%;
  }
  

  .chats__item {
    height: 77px;
    padding: 6px 30px;
  }

  .chats__avatar.ant-avatar {
    margin-right: 21px;
  }

  .chats__content {
    width: 400px;
    overflow: hidden; 
    text-overflow: ellipsis;
  }


  .chats__datetime {
    top: 12px;
    right: 15px;
  }
}


@media (min-width: $desktop-width) {

  .chats {
    width: 493px;
    padding: 14px 0;
    height: auto;
    overflow: auto;
    background-color: rgba(161, 158, 176, 0.1);
    background-color: $blue-03;
    background-image: none;
  }

  .chats__list {
    width: 100%;
  }

  .chats__item {
    height: 57px;
    padding: 5px 15px;

    &--active {
      background: $gradient-02;
    }
  }

  .chats__avatar.ant-avatar{
    margin-right: 14px;
  }

   .chats__content {
    width: 225px;
  }

  .chats__title {
    padding-left: 40px;
  }

  .chats__datetime {
    font-size: 11px;
    top: 5px;
    right: 7px;
  }
}