

.start-page {
  padding-top: 130px;
}

.start-page__wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;
  span {
    margin: 0 auto;
  }
}

.start-page__title {
  text-align: center;
}