.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
 
  .ant-spin {
    color: white;
  }
  
  .ant-spin-dot-item {
    background-color: white;
  }
}